doctype html
html
  head
  body
    h1(id="heading" style="font-family:helvetica;")
    h4(id="subheading" style="color:gray; font-family:helvetica;")
    canvas(id="canvas-container" width="500" height="400" style="border:1px solid #eee;")
    script(src="https://code.createjs.com/1.0.0/createjs.min.js")
    script(type="text/javascript" src="shared.js")
    script(type="text/javascript" src="grid.js")
    script(type="text/javascript" src="shapes.js")
    script(type="text/javascript" src="zulit.js")